body {
    background-color: rgb(94, 12, 94);
}

.header, .footer {
    background-color: rgb(255, 255, 255);
    color: rgb(94, 12, 94);
}

.content {
    display: flex;
    margin: 24px;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 41px;
}

.inputButton {
    background-color: #ff9a9a;
}